{#
/**
 * Copyright © Lyra Network.
 * This file is part of PayZen Bundle for Symfony. See COPYING.md for license details.
 *
 * @author    Lyra Network (https://www.lyra-network.com/)
 * @copyright Lyra Network
 * @license   https://opensource.org/licenses/mit-license.html The MIT License (MIT)
 */
 #}

<div>
    {% if result == 'accepted' %}
        <h1>Payment Succes<h1>
    {% elseif result =='canceled' %}
        <h1>Payment Cancelled<h1>
    {% else%}
        <h1>Payment Failure<h1>
    {% endif %}
</div>